body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
   background: linear-gradient(135deg, #6c0202 0%, #2d0101 100%);
  font-family: sans-serif;
}
.page{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.card{
    max-width: 240px;
    width: 90%;
    margin:auto;
    height: 404px;
    position : relative;
    overflow :hidden;
     border-radius: 5px;
    padding: 28px;
    background: #f3f0df;
}

.card-outer {
  background: #f5efcf;
  padding: 18px;
  border-radius: 18px;
   box-shadow: 0 10px 30px 0 rgb(26, 0, 0);
    box-shadow: inset 0 0 15px rgba(249, 236, 52, 0.926);
 position: relative;
 border:solid 3px#000000;
 transition:transform 0.4s ease, box-shadow 0.4s ease;
}
.card-inner {
  background: #ece9db;
  border: 1px solid#222;
  border-radius: 16px;
  margin-top: 50%;
  padding:50px 22px 26px; /* TOP space for image */
  width: 320px;
  text-align: left;
  
}
 .card-outer:hover{
  transform: translateY(-10px);
  box-shadow: 0 20px 40px  rgb(0,0,0,0.25);
 }

img{
 position: absolute;
  top:70px;
  left: 50%;
  transform: translateX(-50%);
}
img{
  width: 330px;
  height: 260px;
  object-fit: cover;
  border-radius: 14px;
  border: 1px solid #222;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.873);
  background: #ffffff;
  overflow:hidden;
  transition:transform 0.4s ease;
}
img:hover, img:focus, img:active {
  transform: translateX(-50%) scale(1.05);
}
.tab {
  position: absolute;
  width: 26px;
  height: 70px;
  background: #ece9db;
  border: 2px solid #222;
  top: 120px;
}

.tab.left {
  left: -14px;
  border-right: none;
  border-radius: 10px 0 0 10px;
}

.tab.right {
  right: -14px;
  border-left: none;
  border-radius: 0 10px 10px 0;
}
h2{
  font-family: 'libreFranklin', sans-serif,montserrat;
  font-size: 24px;
  margin-bottom: 4px;
  margin-top: 110px;
}

.role {
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 14px;
  margin-top: 0px;
}

.bio{
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 20px;
  margin-top: 20px;
}

.btn-primary, .btn-secondary {

  display: flex;
  gap: 12px;
 display: inline-block;
  padding: 8px 18px;
  border-radius: 20px;
  font-size: 14px;
  text-decoration: none;
  transition:all 0.3s ease;
  
}

.btn-primary {
  background: #1f2a44;
  color: white;
}

.btn-secondary {
  border: 2px solid #777;
  color: #333;
}
.btn-primary:hover {
  background: #39027d;
  transform:translateY(-2px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.btn-secondary:hover {
  background-color: rgb(255, 255, 191);
   transform:translateY(-2px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.btn-primary svg, .btn-secondary svg {
  width: 16px;
  height: 16px;
  fill: currentColor;
}
@media(max-width:480px) {
  .buttons{
    flex-direction: column;
  }
  .btn{
    text-align: center;
  }
}